@page "/home"
@attribute [Authorize]

@using Suggestion.UI.Shared
@using System.Security.Claims
@using Suggestion.UI.Shared.wwwroot

<!-- Page Container -->
<MiddleColumn Value="Tweets" />
           <CascadingAuthenticationState>
         <AuthorizeView>
                    <Authorized>
  
                        <br />

                    </Authorized>

                </AuthorizeView>
            </CascadingAuthenticationState>



























@*<Component1></Component1>


   <CascadingAuthenticationState>

    <AuthorizeView>

                   <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
        @{
            var z = @context.User.Claims.Where(c => c.Type.Contains("http://schemas.microsoft.com/ws/2008/06/identity/claims/role"))?.FirstOrDefault().Value;
        }

        <h1> @z</h1>
        <h1>Hello, @z</h1>
        <p>You can only see this content if you're authenticated. @z?.ToString()</p>
        <button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>
    </AuthorizeView>
    </CascadingAuthenticationState>

<button @onclick="GetClaimsPrincipalData">Get ClaimsPrincipal Data</button>




<p>@authMessage</p>

@if (claims != null)
{
    <ul>
        @foreach (var claim in claims)
        {
            <li>@claim.Type: @claim.Value</li>
        }
    </ul>
}

<p>@surnameMessage</p>

*@
